body {
    color: #27475E;
    text-align: left;
}

body > .container-fluid {
    margin-top: 90px;
}

.asterisk {
    font-size: 1.2rem;
    vertical-align: middle;
}

.step-element {
    display: block;
}

label {
    font-size: 1.01rem;
}
